doctype html
html
  head
    meta(charset="UTF-8")
    title learn angularjs
    style.
      .list li {
        margin: 5px 0;
      }
  body
    .list
      :markdown
        # learn angularjs
        - [基础实例](example1/index.html)
        - [基础实例-自动启动](example1/auto.html)
        - [数据绑定](example2/index.html)
        - [表达式](example3/index.html)
        - [表达式-单次绑定](example3/onetime.html)
