doctype html
html
  head
    title 创建指令
    -var bowerPath = '../bower_components'
  body
    div(ng-app="docsSimpleDirective")
      div(ng-controller="Controller")
        div(my-customer)
    script(src="#{bowerPath}/angular/angular.js")
    script.
      angular.module('docsSimpleDirective', []).controller('Controller', ['$scope', function($scope) {
        $scope.customer = {
          name: 'Naomi',
          address: '1600 Amphitheatre'
        };
      }])
      .directive('myCustomer', function() {
        return {
          template: 'Name: {{customer.name}} Address: {{customer.address}}'
        };
      });
