doctype html
html
  head
    title 表达式
    -var bowerPath = '../bower_components'
  body
    div(ng-app="app")
      p
        b 1 + 2 = 
        span(ng-bind="1+2")
      p
        b a + b = 
        span(ng-bind="a+b") {{a}}
      p
        b user.name: 
        span(ng-bind="user.name")
      p
        b items[0]: 
        span(ng-bind="items[0]")
    script(src="#{bowerPath}/angular/angular.js")
    script
      :coffee
        app = angular.module('app', [])
        .run ($rootScope) ->
          $rootScope.a = 'a'
          $rootScope.b = 'b'
          $rootScope.user =
            name: 'leaf'
          $rootScope.items = [
            'item0'
            'item1'
          ]
          return

